<section class="categories">
    <div class="categories__container">
        <h2 class="categories__title">Categorías por Materia</h2>

        <div class="categories__grid">
            <% config.categories.forEach(category=> { %>
                <a href="/categorias?category=<%= category.subject %>" class="category-card">
                    <div class="category-card__icon">
                        <i class="icon icon-<%= category.icon %>"></i>
                    </div>
                    <h3 class="category-card__name">
                        <%= category.name %>
                    </h3>
                    <p class="category-card__description">
                        <%= category.description %>
                    </p>
                </a>
                <% }) %>
        </div>
    </div>
</section>